{% extends 'base.html.twig' %}

{% block title %}Administration article{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('/css/reset.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
{% endblock %}

{% block class %}listing{% endblock %}

{% block main %}
    <div class="container mt-4">

    <h1>Gérer les articles</h1>
    <div class="text-right">
    </div>


    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>
            <a href="{{ path('admin.article.edit', {id: article.id }) }}" class="btn btn-secondary">Editer</a>
            <form method="post" action="{{ path('admin.article.delete', {id: article.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes vous vraiment sur ?')">
              <input type="hidden" name="_method" value="DELETE"/>
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}"/>
              <button class="btn btn-danger">Supprimer</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}
